<user-mapping>
    <authorize username="{{guacamole_user}}" password="{{guacamole_password}}">
        <connection name="logger">
            <protocol>ssh</protocol>
            <param name="hostname">192.168.56.100</param>
            <param name="port">22</param>
            <param name="username">{{ansible_user}}</param>
            <param name="password">{{ansible_password}}</param>
        </connection>

        <connection name="DC01 - republic-dc - r2d2">
            <protocol>rdp</protocol>
            <param name="hostname">192.168.56.10</param>
            <param name="port">3389</param>
            <param name="username">{{local_admin_user}}</param>
            <param name="password">{{local_admin_password}}</param>
            <param name="security">nla</param>
            <param name="ignore-cert">true</param>
        </connection>

        <connection name="DC02 - security-dc - r2d2">
            <protocol>rdp</protocol>
            <param name="hostname">192.168.56.11</param>
            <param name="port">3389</param>
            <param name="username">{{local_admin_user}}</param>
            <param name="password">{{local_admin_password}}</param>
            <param name="security">nla</param>
            <param name="ignore-cert">true</param>
        </connection>

        <connection name="SRV02 - jedi-archives - r2d2">
            <protocol>rdp</protocol>
            <param name="hostname">192.168.56.22</param>
            <param name="port">3389</param>
            <param name="username">{{local_admin_user}}</param>
            <param name="password">{{local_admin_password}}</param>
            <param name="security">nla</param>
            <param name="ignore-cert">true</param>
        </connection>

        <connection name="WIN02 - dooku-win10 - r2d2">
            <protocol>rdp</protocol>
            <param name="hostname">192.168.56.32</param>
            <param name="port">3389</param>
            <param name="username">{{local_admin_user}}</param>
            <param name="password">{{local_admin_password}}</param>
            <param name="security">nla</param>
            <param name="ignore-cert">true</param>
        </connection>

        <connection name="WIN02 - dooku-win10 - c.dooku">
            <protocol>rdp</protocol>
            <param name="hostname">192.168.56.32</param>
            <param name="port">3389</param>
            <param name="username">c.dooku</param>
            <param name="password">TwiceThePride07*</param>
            <param name="security">nla</param>
            <param name="ignore-cert">true</param>
        </connection>

    </authorize>
</user-mapping>